@use "../utils/variables" as *;

.notifications {
    padding: 0;
  }
  .notifications .notification-time {
    font-size: 12px;
    line-height: 1.35;
    color: #bdbdbd;
  }
  .notifications .media {
    margin-top: 0;
    border-bottom: 1px solid $light-300;
  }
  .notifications .media:last-child {
    border-bottom: none;
  }
  .notifications .media a {
    display: block;
    padding: 10px 15px;
    border-radius: 2px;
  }
  .notifications .media a:hover {
    background-color: #fafafa;
  }
  .notifications .media > .avatar {
    margin-right: 10px;
  }
  .notifications .media-list .media-left {
    padding-right: 8px;
  }
  
  .topnav-dropdown-header {
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .topnav-dropdown-footer {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #eee;
  }
  .topnav-dropdown-footer a {
    display: block;
    text-align: center;
    color: $gray-700
  }
  
  .user-menu.nav > li > a .badge {
    background-color: #f43f3f;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 7px;
    top: 7px;
    border: 2px solid $white;
    line-height: unset;
    padding: 0;
  }
  .user-menu.nav > li > a > i {
    font-size: 18px;
  }
  
  .noti-details {
    color: #989c9e;
    margin-bottom: 0;
  }
  
  .noti-title {
    color: $gray-700
  }
  
  .notifications .noti-content {
    height: 290px;
    width: 350px;
    overflow-y: auto;
    position: relative;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notifications ul.notification-list > li {
    margin-top: 0;
    border-bottom: 1px solid $light-300;
  }
  .notifications ul.notification-list > li:last-child {
    border-bottom: none;
  }
  .notifications ul.notification-list > li a {
    display: block;
    padding: 20px 15px;
    border-radius: 2px;
  }
  .notifications ul.notification-list > li a:hover {
    background-color: #fafafa;
  }
  .notifications ul.notification-list > li .list-item {
    border: 0;
    padding: 0;
    position: relative;
  }
  
  .topnav-dropdown-header .notification-title {
    color: $gray-700;
    display: block;
    float: left;
    font-size: 14px;
  }
  .topnav-dropdown-header .clear-noti {
    color: #f83f37;
    float: right;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .noti-time {
    margin: 0;
  }