@use "../utils/mixins";
@use "../utils/variables" as *;

.sidebar {
    background-color: #080C18;
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    width: 270px;
    z-index: 1001;
    border-radius: 0 15px 0 0;
  }
  .sidebar.opened {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .sidebar-inner {
    height: 100%;
    min-height: 100%;
    transition: all 0.2s ease-in-out 0s;
  }
  
  .sidebar-menu {
    padding: 10px;
    padding-bottom: 35px;
  }
  .sidebar-menu ul {
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .sidebar-menu li a {
    color: $white;
    display: block;
    font-size: 15px;
    height: auto;
    padding: 0 20px;
  }
  .sidebar-menu li a:hover {
    color: $primary;
  }
  .sidebar-menu li.active > a {
    background-color: $primary;
    color: $white;
  }
  .sidebar-menu > ul > li > a:hover, .sidebar-menu > ul > li.active > a:hover {
    background-color: $primary;
    color: $white;
  }
  
  .menu-title {
    color: #9e9e9e;
    display: flex;
    font-size: 14px;
    opacity: 1;
    padding: 5px 10px 5px 20px;
    white-space: nowrap;
    margin-top: 30px;
    text-transform: uppercase;
  }
  .menu-title h6 {
    color: #74788D;
    margin: 0;
    font-size: 12px;
  }
  
  .siderbar-toggle .switch {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  }
  
  .sidebar-menu > ul > li > a.active {
    position: relative;
    color: $white;
    background-color: $primary;
  }
  .sidebar-menu > ul > li > a.active.subdrop {
    color: $white;
    background-color: $primary;
  }
  .sidebar-menu > ul > li > a.active:hover {
    color: $white;
  }
  .sidebar-menu > ul > li > a.active:after {
    background: $primary;
    width: 6px;
    height: 40px;
    left: -10px;
    z-index: 9999;
    position: absolute;
    content: "";
    border-radius: 0 5px 5px 0;
  }
  
  .siderbar-toggle {
    position: relative;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 27px;
    justify-content: space-between;
  }
  
  .siderbar-toggle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .siderbar-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CCCFE0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 41px;
    height: 21px;
  }
  .siderbar-toggle .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .siderbar-toggle input:checked + .slider {
    background-color: $primary;
  }
  .siderbar-toggle input:focus + .slider {
    box-shadow: 0 0 1px $primary;
  }
  .siderbar-toggle input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -5px;
  }
  .siderbar-toggle .slider.round {
    border-radius: 34px;
  }
  .siderbar-toggle .slider.round:before {
    border-radius: 50%;
  }
  
  .menu-title > i {
    float: right;
    line-height: 40px;
  }
  
  .sidebar-menu li.menu-title a {
    color: #ff9b44;
    display: inline-block;
    margin-left: auto;
    padding: 0;
  }
  
  .form-links a {
    color: #009AF4;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .form-groupbtn ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .form-groupbtn .btn {
    min-width: 104px;
    padding: 7px 15px;
    font-size: 16px;
  }
  
  .socail-links-set .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    right: 10px;
    top: 17px;
  }
  
  .form-groupbtn ul li {
    margin-right: 12px;
  }
  
  .btn-update {
    border: 1px solid $primary;
    color: $white;
    background: $primary;
  }
  
  .btn-cancel {
    border: 1px solid #F3F3F3;
    color: #3F3F3F;
    background: #F3F3F3;
  }
  .btn-cancel:hover {
    background: #242424;
    color: $white;
  }
  
  .card-heads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  
  .sidebar-menu li.menu-title a.btn {
    color: $white;
    display: block;
    float: none;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
  }
  .sidebar-menu ul ul a.active {
    color: $primary;
  }
  
  .mobile_btn {
    display: none;
    float: left;
    @media only screen and (max-width: 991.98px) {
        color: #333;
        cursor: pointer;
        display: flex;
        font-size: 26px;
        height: 60px;
        left: 0;
        padding: 0 15px;
        position: absolute;
        text-align: center;
        top: 5px;
        z-index: 10;
        justify-content: center;
        align-items: center;
    }
  }
  
  .sidebar .sidebar-menu > ul > li > a span {
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;
  }
  .sidebar .sidebar-menu > ul > li > a span.chat-user {
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sidebar .sidebar-menu > ul > li > a span.badge {
    margin-left: auto;
  }
  
  .sidebar-menu ul ul {
    display: none;
  }
  .sidebar-menu ul ul a {
    display: block;
    font-size: 15px;
    padding: 7px 10px 7px 50px;
    position: relative;
  }
  .sidebar-menu ul ul ul a {
    padding-left: 65px;
  }
  .sidebar-menu ul ul ul ul a {
    padding-left: 85px;
  }
  .sidebar-menu > ul > li {
    margin-bottom: 5px;
    position: relative;
  }
  .sidebar-menu > ul > li:last-child {
    margin-bottom: 0;
  }
  .sidebar-menu .menu-arrow i {
    -webkit-transition: -webkit-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform 0.15s;
    position: absolute;
    right: 15px;
    display: inline-block;
    text-rendering: auto;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 12px;
    width: auto;
  }
  .sidebar-menu li a.subdrop .menu-arrow i {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .sidebar-menu ul ul a .menu-arrow {
    top: 10px;
  }
  .sidebar-menu > ul > li > a {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
  }
  .sidebar-menu > ul > li > a.subdrop {
    background: transparent;
    color: $white;
  }
  
  .mini-sidebar .siderbar-toggle {
    opacity: 0;
    width: 1px;
  }
  .mini-sidebar .logo-small {
    display: block;
    min-width: 30px;
  }
  .mini-sidebar .sidebar-header {
    padding: 15px 0;
    justify-content: center;
  }
  .mini-sidebar.expand-menu .sidebar-header {
    padding: 27px;
    justify-content: space-between;
  }
  .mini-sidebar .logo {
    display: none;
  }
  

.logo-small {
	display: none;
	@media only screen and (max-width: 991.98px) {
		display: block;
	}
}
  
  .mini-sidebar.expand-menu .logo {
    display: block;
  }
  .mini-sidebar.expand-menu .logo-small {
    display: none;
  }
  .mini-sidebar.expand-menu .siderbar-toggle {
    opacity: 1;
    width: auto;
  }
  
  .sidebar-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    width: 18px;
    transition: all 0.2s ease-in-out 0s;
  }
  .sidebar-menu ul li.menu-title a i {
    font-size: 16px !important;
    margin-right: 0;
    text-align: right;
    width: auto;
  }
  .sidebar-menu li a > .badge {
    color: $white;
  }